@model ProductFilterVM


<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop List</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Price Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="price-all">
                        <label class="custom-control-label" for="price-all">All Price</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-1">
                        <label class="custom-control-label" for="price-1">$0 - $100</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-2">
                        <label class="custom-control-label" for="price-2">$100 - $200</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-3">
                        <label class="custom-control-label" for="price-3">$200 - $300</label>
                        <span class="badge border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-4">
                        <label class="custom-control-label" for="price-4">$300 - $400</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="price-5">
                        <label class="custom-control-label" for="price-5">$400 - $500</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>
                </form>
            </div>
            <!-- Price End -->
            <!-- Color Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Category</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="color-all">
                        <label class="custom-control-label" for="price-all">All Color</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>

                    @foreach (var item in Model.CategoryFilters)
                    {
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input value="@item.Id" type="checkbox" class="custom-control-input cats" id="color-1 @item.Id">
                            <label class="custom-control-label" for="color-1 @item.Id">@item.CategoryName</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                    }
                    

                </form>
            </div>
            <!-- Color End -->
            <!-- Size Start -->
           @* <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="size-all">
                        <label class="custom-control-label" for="size-all">All Size</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-1">
                        <label class="custom-control-label" for="size-1">XS</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-2">
                        <label class="custom-control-label" for="size-2">S</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-3">
                        <label class="custom-control-label" for="size-3">M</label>
                        <span class="badge border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-4">
                        <label class="custom-control-label" for="size-4">L</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="size-5">
                        <label class="custom-control-label" for="size-5">XL</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>
                </form>
            </div>*@
            <!-- Size End -->
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Latest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Best Rating</a>
                                </div>
                            </div>
                            <div class="btn-group ml-2">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                               

                                <select onchange="GetProductCount()" id="countProduct">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                  <div id="productList" class="row">
                    @foreach (var item in Model.ProductFilters)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="@item.PhotoUrl" alt="">
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square" onclick="AddToCart(@item.Id)"><i class="fa fa-shopping-cart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href="/product/detail/@item.Id"><i class="fa fa-sync-alt"></i></a>
                                      @*  <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>*@
                                    </div>
                                </div>                                  
                                <div class="text-center py-4">
                                    <a class="h6 text-decoration-none text-truncate" href="/product/detail/@item.Id">@item.Name</a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5>$@item.Discount</h5><h6 class="text-muted ml-2"><del>$@item.Price</del></h6>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small>(99)</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                  </div>
               
                      
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            @if (ViewBag.CurrentPage > 1)
                            {
                                
                            <li class="page-item"><a class="page-link" href="/product?page=@(ViewBag.CurrentPage - 1)">Previous</a></li>
                            }

                              @for (int i = 0; i < ViewBag.ProductCount; i++)
                             {
                                <li class="page-item @((i+1 == ViewBag.CurrentPage) ? "active" : "" )"><a class="page-link" href="/product?page=@(i+1)">@(i + 1)</a></li>
                             }
                            @if (ViewBag.CurrentPage < ViewBag.ProductCount)
                            {
                                
                            <li class="page-item"><a class="page-link" href="/product?page=@(ViewBag.CurrentPage + 1)">Next</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

@section Script{
    <script>

        const countProduct = document.querySelector('#countProduct');
        const productList = document.querySelector('#productList');
        //const pageLink = document.querySelectorAll('.page-link');
        const cats = document.querySelectorAll('.cats');

       
        //for(let i = 0; i < pageLink.length; i++){
        //    pageLink.[i].addEventListener('click', function(e){
        //        console.log(pageLink[i].innerText)
        //        GetFilteredData(pageLink[i].innerText, 3);
        //    })
        //}




        countProduct.addEventListener('change', function(e){
            console.log(e.target.value);
            GetFilteredData(1, e.target.value)
        })
        
         $(function(){
            GetFilteredData(1, 3);
         })



         //function GetProductCount(){
         //   var value = countProduct.options[countProduct.selectedIndex].value;
         //   GetFilteredData(1, value);
         //}
        function AddToCart(id) {
            let cart = {
                id: id,
                quantity: 1,
            };
                                                            
            $.ajax({
                type: 'POST',
                url: `/Cart/AddToCart?id=${cart.id}&quantity=${cart.quantity}`,
                contentType: 'application/json',
                success: function (e) {

                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Added To Store',
                        showConfirmButton: false,
                        timer: 1500
                    })
                },
                error: function (e) {
                    alert("Error");
                }
            })
        }



        function GetFilteredData(page, take){
            let catList = [] 
            for (let i = 0; i < cats.length; i++) {
                if (cats[i].checked) {
                    catList.push(cats[i].value);
                }
            }

            $.ajax({
                type: 'GET',
                url: `/Product/GetDatas?page=${page}&take=${take}&categoryList=${catList}`,
                contentType: 'application/json',
                success: function (e) { 
                    console.log(e); 
                    ProductList(e);
                }
            })
        }
         
        function ProductList(datas){
            //productList.innerHTML = '';
            for(let i = 0; i < datas.length; i++){
                productList.innerHTML =  ` 
                                                         <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                                            <div class="product-item bg-light mb-4">
                                                <div class="product-img position-relative overflow-hidden">
                                                    <img class="img-fluid w-100" src="${datas[i].photoUrl}" alt="">
                                                    <div class="product-action">
                                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                                <div class="text-center py-4">
                                                    <a class="h6 text-decoration-none text-truncate" href="">${datas[i].Name}</a>
                                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                                        <h5>${datas[i].Discount}</h5><h6 class="text-muted ml-2"><del>${datas[i].Price}</del></h6>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                                        <small class="fa fa-star text-primary mr-1"></small>
                                                        <small class="fa fa-star text-primary mr-1"></small>
                                                        <small class="fa fa-star text-primary mr-1"></small>
                                                        <small class="fa fa-star text-primary mr-1"></small>
                                                        <small class="fa fa-star text-primary mr-1"></small>
                                                        <small>(99)</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    `
            }
           
        }

    </script>
}
         
  